* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #bfbaba;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

 
.container {
  display: flex;
  width: 90%;
  max-width: 1600px;
  height: 850px;
  background-color: #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

 
.left-panel {
  flex: 1.1;
  background-color: #e9e9e9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.form-wrap {
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 700;
  color: #000;
}

 
.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.register-form input {
  padding: 18px;
  font-size: 1rem;
  border: 2px solid #000;
  border-radius: 3px;
  background-color: #e5e5e5;
}

.register-form input:focus {
  outline: none;
  border-color: #555;
}

 
.btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 18px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
  transition: background 0.3s;
}

.btn:hover {
  background-color: #222;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: 600;
}

.login-link {
  margin-top: 15px;
  font-size: 0.95rem;
}

.login-link a {
  color: #0000ee;
  text-decoration: underline;
}

 
.right-panel {
  flex: 1;
  background-color: #c4a484;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 80%;
  max-width: 400px;
  height: auto;
}

 
@media (max-width: 950px) {
  .container {
    flex-direction: column-reverse;
    height: auto;
  }
  .right-panel {
    padding: 30px;
  }
  .left-panel {
    padding: 40px;
  }
  h2 {
    font-size: 2rem;
  }
}
